@font-face {
    font-family: 'Questrial';
    src: url(./resources/Questrial-Regular.ttf);
}

body {
    background-color: rgba(197, 200, 230, 0.2);
    font-family: 'Questrial';
}

.import-tile {
    position: relative;
    height: fit-content;
    display: inline-block;
    margin: 25px;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 5px 5px 5px lightgrey;
    font-size: 15px;
    cursor: pointer;
    transition: all .5s;
}

.import-tile:hover {
    box-shadow: none;
}

.import-tile .import-tile-content {
    height: 83px;
    width: 137px;
    line-height: 20px;
    text-align: center;
    color: rgb(91, 0, 107);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.import-tile .import-tile-content .upload-symbol {
    position: absolute;
    background-color: lightgrey;
    transition: background-color 0.2s;
    bottom: 8px;
    right: 10px;
    -webkit-mask-image: url(./resources/insert.svg);
    mask-image: url(./resources/insert.svg);
    -webkit-mask-size: 13px;
    mask-size: 13px;
    height: 13px;
    width: 13px;
    image-rendering: pixelated;
}

.import-tile:hover .import-tile-content .upload-symbol {
    background-color: rgb(127, 63, 255);
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.app .back-button {
    width: fit-content;
    margin: 15px 5px;
    color: rgb(235, 14, 149);
    border: 1px solid rgb(235, 14, 149);
    border-radius: 5px;
    padding: 3px 6px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s;
}

.app .back-button:hover {
    background-color: rgb(235, 14, 149);
    color: white;
}

.app .content-wrapper {
    height: 100%;
    display: flex;
    min-height: 0;
}

.app .traces-list {
    flex: 1;
    overflow: auto;
}

.app .traces-list .trace-name {
    background-color: white;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    cursor: pointer;
}

.app .traces-list .trace-name.selected {
    background-color: rgb(127, 63, 255);
    color: white;
}

.app .traces-list .trace-name:hover {
    background-color: rgb(235, 14, 149);
    color: white;
}

.app .trace-viewer {
    flex: 2;
    overflow: auto;
}

.app .trace-viewer .step-event {
    background-color: white;
    border: 1px solid lightgrey;
    margin: 5px;
    border-radius: 8px;
    padding: 10px;
    overflow: hidden;
}

.app .trace-viewer .step-event .step-event-part {
    display: flex;
    flex-direction: row;
    margin-top: 3px;
}

.app .trace-viewer .step-event .step-event-part-title {
    height: 18px;
    min-width: 50px;
    max-width: 50px;
    padding: 5px;
    font-size: 0.9em;
    font-weight: bolder;
}

.app .trace-viewer .step-event .event-action,
.app .trace-viewer .step-event .event-inputs,
.app .trace-viewer .step-event .event-outputs,
.app .trace-viewer .step-event .event-info {
    flex: 1;
    padding: 3px 3px 3px 30px;
}

.app .trace-viewer .step-event .event-action {
    font-style: italic;
}

.app .trace-viewer .event-parameter {
    width: fit-content;
    display: inline-block;
    margin: 0 7px 5px 0;
    font-size: 13px;
    padding: 2px 6px;
    border-radius: 50px;
}